# dotfiles except allowed
.*
!.gitattributes
!.gitignore
!.editorconfig
!.eslintrc.yml
!.eslintignore
!.prettierignore
!.babelrc
!.travis.yml
!.releaserc

# dependencies
node_modules/

# build output
lib/
coverage/

# lock files
yarn.lock
