# dotfiles except allowed
.*
!.github
!.gitattributes
!.gitignore
!.editorconfig
!.eslintrc.yml
!.eslintignore
!.prettierignore
!.babelrc
!.releaserc
!.nvmrc

# dependencies
node_modules/

# build output
lib/
coverage/

# lock files
yarn.lock
